[Unit]
Description=dhttp static
After=network.target
After=upcn@.service

[Service]
ExecStart=/usr/bin/dhttp-static
WorkingDirectory=%h/Public/
Type=simple

[Install]
WantedBy=default.target