:root {
    font-family: sans-serif;
    color: rgb(39, 39, 39);
}

body {
    padding-top: 150px;
}

main {
    background: rgb(230, 230, 230);
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
}